PRESSAI_JWT=
PRESSAI_URL=
PRESSAI_JWT_USER=
PRAWY_WP_USER=
PRAWY_WP_APP_PASS=

# Google Service Account
GOOGLE_SA_KEY_PATH=/home/ubuntu/media-dispatch/config/service_account.json
GOOGLE_SA_FILE=/home/ubuntu/media-dispatch/config/service_account.json
